body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    padding: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: row; /* Place items side-by-side */
    align-items: flex-start; /* Align items at the top */
}

#visualization {
    margin-right: 20px; /* Add some space between chart and checkboxes */
}

.legend-container {
    display: flex;
    flex-direction: column;
    max-width: 200px; /* Ensure the legend does not grow too wide */
}

.legend-container .checkbox-item {
    margin-bottom: 10px;
}

.tooltip {
    position: absolute; /* Ensure tooltip is positioned relative to the viewport */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    font-size: 0.9rem;
    color: #333;
    visibility: hidden;
    z-index: 10;
}




#writeup {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
}
